@charset "UTF-8";
/* Fonte do Título */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');


body{
    width: 1000px;
    height: 1500px;
    background: rgba(0, 0, 0, 0.521);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
    margin: 50px auto 0px auto; 
}

/* CAbecalho */
header#cabecalho{
    position: absolute;
    background: url("../_image/fita-cinema.png") no-repeat;
    padding: 0px 1100px 280px 0px;
    margin-top: -50px;
    margin-left: -50px;
}
h1#titulo{
    font-size: 40pt;
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 100px 0px 0px 180px;
}

/* Menu superior de navegação */
nav#menu h1{
    display: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 20pt;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.8);
}
nav#menu ul{
    position: relative;
    font-size: 15pt;
    top: 200px;
}
nav#menu li{
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color:rgba(255, 255, 255, 0.4)
}
nav#menu li:hover{
    background-color: rgba(0, 0, 0, 0.4);
    transition: .2s;
}

/* Body - parte esquerda - Div1*/
section#ptEsquerda{
    display: block;
    float: left;
    margin-top: 200px;
    margin-left: 20px;
    width: 600px;
}
div#ptEsquerda input{
    position: relative;
}